/* Google Fonts Poppins Regular */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); 
/* Google Fonts Poppins Bold */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* ------------------------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
/* Banner style start */
header{
    background-color: #2D25A0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.banner{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-content: center;
    column-gap: 102px;
    width: 1440px;
    height: 700px;     
}
.left-banner{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 487px;  
}
.right-banner{
    display: flex;
}
.left-banner h1{
    font-weight: bold;
    font-size: 65px;
    color: white;
    margin-bottom: 10px;
}
.right-banner img{
    width: 557px;
    height: 438px;
}
/* Animation Start*/
.right-banner:hover {
    transform: rotate(360deg) scale(1.3);
    transition: transform 3s ease-in-out;
}
/* Animation End*/
.banner-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
}
.live-button{
    color: white;
    text-decoration: none;  
}
.fa-arrow-right{
    padding-left: 8px;
    width: 24px;
    height: 24px;
}
/* Banner style ends */

/* Top Players Style Start */
.mid-container{
    margin-top: 70px;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 35px;
    row-gap: 30px;
    justify-items: center;
    align-content: center; 
}
.players{
    width: 330px;
    height: 500px;
    padding: 20px 20px 5px 20px;
    background-color: white;
    box-shadow: 10px 10px 40px lightgray;
    border-radius: 8px;
}
.player img{
    width: 100%;    
}
.player-name{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    margin: 0;
    margin-top: 16px;
}
.player-info{
    font-style: normal;
    font-weight:normal;
    font-size: 15px;
    color: #797676da;
    text-align: left;
    margin: 0;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
}
/* Top Players Style End */

/* Photo Album Start*/
.album{
    margin-top: 50px;
    margin: 0;
    padding:0;
}
.album-title{
    font-size: 40px;
    text-align: center;
    color: rgba(231, 87, 31, 0.925);
}
.photo-album {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.photo-frame {
    position: static;
    margin: 15px;
    overflow: hidden;
    border-radius: 5px;
    
}
.photo img{
    height: 330px;
    width: 270px;
    overflow: hidden;
}
.photo-detail {
    position: relative; 
}
.photo-detail h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 25px;
    font-weight: 600;
    color: white;
    padding-left: 17px;
}
.photo-frame:hover .photo-detail h2{
    position: absolute;
}
.photo-detail span{
    display: none;
}
.photo-frame:hover .photo-detail span{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 132px;
    height: 120px;
    font-size: 180px;
    font-weight: 600;
    line-height: .52em;
    color: #d11c677a;
}
.photo-frame:hover .photo-detail {
    display: block;
}
.photo-frame:hover .photo {
    transform: scale(1.1);
    transition: transform 0.75s ease-in-out;
}
/* Photo Album Ends */

/* Feedback Style Start */
.feedback{
    background-color: lightseagreen;
    margin-top: 40px;
    padding:0px 30px 30px 50px;
}
.feedback-container{
    display: grid;
    grid-template-columns: 1fr;
    
    justify-items: center;
}
.feedback-header h2{
    font-size: 40px;
    font-weight: 600;
    color: #cc3574dc;
    text-align: center;
    margin-bottom: 5px;
}
.feedback-header hr{
	margin: 0;
    border: 0;
    border-bottom: 3.5px solid yellowgreen;
	width:50px;
	padding:3px 0;
    margin-left:43%;
    text-align: center;	
}
.feedback-header p{
    font-size:16px ;
    text-align: center;
    color: whitesmoke;
}
.feedback-form{
    display: grid;
    grid-template-columns:1fr ;
    justify-items: center;
}
.form{
    margin:20px 0;
}
#name{
    width: 97%;
    padding: 10px 0px 10px 20px;
    background-color: rgba(132, 143, 153, 0.404);
    border: 1px solid lightsalmon;
}
#email{
    width: 97%;
    background-color: rgba(132, 143, 153, 0.404);
    border: 1px solid lightsalmon;
    padding: 10px 0px 10px 20px;
}
.form textarea{
    width: 100%;
    padding: 10px 0px 10px 20px;
    background-color: rgba(132, 143, 153, 0.404);
    border: 1px solid lightsalmon;
}
.feedback-form a{
    text-decoration: none;
    padding: 10px;
    margin-left: 30%;
    color: whitesmoke;
    background-color: lightsalmon;
    font-size: 23px;
    border-radius: 10px;
    font-weight: 500;
}
/* Feedback Style End */

/* Footer style start */
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 80px;
    width: 484px;
    height: 213px;
}
.footer-logo img{
    width: 484px;
    height: 110px;
    background-color: white;
}
.social-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.social-icon a{
    font-size: 23px;
    color: #9fa1aac0;
    height: 32px;
    width: 33px;
    border-radius: 60px;
    background-color: #dddfe6;
    text-align: center;
}
.copyright p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* Footer style end */
/*-----------------
 Media Queries 
 ------------------*/
 /* Mobile Device */
 @media only screen and (max-width:688px){
     /* For Banner */
    header{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 39px;
    }
    .banner{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        padding-bottom: 45px;
        padding-left: 20px;
    }
    .left-banner{
        width: 100%;
        margin-bottom: 70px;
    }
    .left-banner h1{
        font-size: 45px;
    }
    .right-banner{
        width: 100%;
        padding-left: 15px;
    }
    .right-banner img{
        width: 329px;
        height: 260px;
    }
    .right-banner:hover {
        transform: rotate(360deg) scale(1.15);
        transition: transform 3s ease-in-out;
    }
    /* Fot Top-Players */
    .mid-container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
     .mid-container{
         width: 100%;
         margin: 0;
         padding: 0;
     }
     .top-players{
        display: grid;
        grid-template-columns: 1fr;
     }
     .players{
         width: 80%;
     }
     /* For Photo Album */
     .album{
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 40px;
     }
     .photo-album{
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 0;
        padding: 0;
     }
     /* For Feedback */
     .feedback{
         width: 100%;
         margin: 0;
         padding: 0;
         margin-top: 20px;
         padding-bottom: 50px;
     }
     /* For Footer */
     footer{
        width: 100%;
        margin: 0;
        padding: 0;
     }
     .footer-container{
         width: 95%;   
     }
     .footer-logo img{
        width: 80%;
        margin-left: 25px;
     }
     .social-icon a{
        font-size: 22px;
        height: 32px;
        width: 34px;
     }
 }
 /* tablet devices */
 @media only screen and (min-width:688px) and (max-width:992px){
     /* For Header */
    header{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }
    .banner{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: flex-start;
        align-content: flex-start;
        padding-bottom: 250px;
        padding-left: 70px;
    }
    .left-banner{
        width: 85%;
        margin-bottom: 100px;
    }
    .right-banner{
        width: 80%;
        padding-left: 30px;
    }
    .right-banner img{
        width: 100%;
    }
    .mid-container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    /* For Top-Players */
    .top-players{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       padding: 30px 30px;
    }
    .players{
        width: 90%;
    }
    /* For Photo Album */
    .album{
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 40px;
     }
     .photo-album{
        grid-template-columns: repeat(2,1fr);
        column-gap: 0px;
        justify-items: center;
        align-content: center;
        margin: 0;
        padding: 0;
     }
     /* For Feedback */
     .feedback{
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 20px;
        padding-bottom: 50px;
    }
    /* For Footer */
    footer{
       width: 100%;
       margin: 0;
       padding: 0;
    }
    .footer-container{
        width: 70%;   
    }
    .footer-logo img{
       width: 80%;
       margin-left: 25px;
    }
    .social-icon a{
       font-size: 22px;
       height: 32px;
       width: 34px;
    }
}
    